<%- include('partials/header') %>

<script type="text/javascript">
    $(document).ready(function() {
      $('.publishButtonClass').click(function(e) {
          var str=$(this).val();
          $('#modalSubscriptionForm').modal({ show : true });
          $("#publishChallengeModal").val(str);

      });
    });
</script>


<% if(successMessage) {%>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><%=showMessage%></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>

<div class="jumbotron jumbotron-fluid"  style="background-color:transparent; text-align:center; font-family: 'Monoton', cursive;font-weight:normal;font-style:normal;">
  <div class="container" >
    <p  style="color:#ffa500; font-size:2rem; font-family: 'BIGMACCA';">ADMINISTRAR | RETOS Y TORNEOS</p>
  </div>
</div>



<!-- <div style="width:100%; text-align:center;">
<form action="https://sweepwidget.com/" method="get">
  <button type="submit" class="btn btn-primary  ">Add Challenge</button>
</form>
</div> -->
<form id="editChallenge" action="/editChallenge" method="post"/>

<h2 style="color:white; font-weight:bold; margin-left:250px;"><%= data.length %> Challenges Available</h2>

<div class="list-group" id="list-tab" role="tablist">
  <% data.map((datai,i)=>{ %>
    <div style="padding: 0px 250px 0px; margin-top:35px;" >
      <div class="shadow_admin" style="background:#222; border-radius:10px; padding:15px;">
        <img style="
          margin-right:20px;
          float:left;
          height:160px;
          width:260px;
          padding-bottom:10px;"
          src=<%=datai.image_loc%>>


        <div>
          <h4 style="color:white;"><%= datai.title %></h4>
          <h6 style="color:#AAAAAA; margin-top: 2px;">Sweepwidget: <%= datai.type %></h6>
          <h6 style="color:#AAAAAA;">ID: <%= datai.competition_id %></h6>
          <form id="publishResult" action="/adminPanel" method="post">
          <input type="hidden" id="custId" name="publishResult" value=true />

          </form>

          <% if(!datai.isPublished) {%>

                  <button id="publishButton" value= <%= datai.competition_id %>
                    type="button"
                    class="btn btn-warning publishButtonClass">
                    PUBLISH
                </button>
            <% } %>
            <% if(datai.isPublished) {%>
                  <form id="deleteChallenge" action="/adminPanel" method="post">
                  <input type="hidden" id="custId" name="deleteButton" value=true>
                    <button name="delete" value= <%= datai.competition_id %> type="submit"
                    form="deleteChallenge" class="btn   btn-danger" style="background: #222; color:#FFFFFF;float:left;">
                      DELETE CHALLENGE
                    </button>
                  </form>
                  <% if(!datai.isResultPublished) {%>
                  <button type="submit" form="publishResult"
                  class="btn btn-success"
                  name="resultButton"
                  value= <%= datai.competition_id %>
                  style="background: #222;
                  color:#FFFFFF;">PUBLISH RESULT</button>
                  <% } %>
                  <% if(datai.isResultPublished) {%>
                      <form id="deleteResult" action="/adminPanel" method="post" >
                        <input type="hidden" id="custId" name="deleteResult" value=true>
                          <button
                            name="deleteResultId"
                            value= <%= datai.competition_id %>
                            type="submit"
                            form="deleteResult"
                            class="btn btn-deep-purple button_adminPanel"
                            style="background: #222; color:#FFFFFF; float:left; ">
                            Delete Result
                        </button>
                      </form>
                      <form id="editResult" action="/adminPanel" method="post" >
                        <input type="hidden" id="custId" name="publish" value=true>
                          <button
                            name="resultButton"
                            value= <%= datai.competition_id %>
                            type="submit"
                            form="publishResult"
                            class="btn btn-dark-green"
                            style="background: #222; color:#FFFFFF; ">
                            EDIT RESULT
                        </button>
                      </form>
                    <% } %>
            <% } %>

        </div>
      </div>
    </div>
  <% }); %>

</div>
<br/>

<div class="modal fade show" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Publish Challenge</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/adminPanel" method="post" >
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input name="prize" type="text" id="form3" class="form-control validate" placeholder="Enter Prize Amount Ex. $10" value="">
        </div>


      </div>
      <div class="modal-footer d-flex justify-content-center">
          <input type="hidden" id="custId" name="publish" value=true />
        <button type="submit" id="publishChallengeModal" name="id" class="btn btn-indigo" value="">PUBLISH </button>
      </div>
      </form>
    </div>
  </div>
</div>
