<%- include('partials/header') %>

<script type="text/javascript">
  $(document).ready(function() {
    // $('#progress').hide();
    // $('#overlay').hide();

    $('.publishButtonClass').click(function(e) {
      var str = $(this).val();
      $('#modalSubscriptionForm').modal({
        show: true
      });
      $("#publishChallengeModal").val(str);
    });
    if($('#categoryLen').val()>0) {$('.createCategory').hide();}
   if($('#categoryLen').val()===0 || $('#categoryLen').val()===null){
     $('.createCategory').show();
    }

    $('#dropdownUl li').click(function(e) {
      $('.createCategory').hide();
      document.getElementById("dropdownValueId").value="";
      document.getElementById("dropdownValueId").value=$(this).text();
      document.getElementById("category_newId").value=null;
    });
    $('#add_category').click(function(e) {
      $('.createCategory').show();
      document.getElementById("dropdownValueId").value=null;

    });

  });
</script>



<% if(successMessage) {%>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong><%=showMessage%></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>


<div class="jumbotron jumbotron-fluid" style="background-color:transparent; text-align:center; font-family: 'Monoton', cursive;font-weight:normal;font-style:normal;">
  <div class="container">
    <p style="color:#ffa500; font-size:2rem; font-family: 'BIGMACCA';">ADMINISTRAR | RETOS Y TORNEOS</p>
  </div>
</div>



<form id="editChallenge" action="/editChallenge" method="post" />

<h2 style="color:white; font-weight:bold; margin-left:250px;"><%= data.length %> Challenges Available</h2>

<div class="list-group" id="list-tab" role="tablist">
  <div>
    <div style="float:left;">
    <a href="/userConsole" class="btn btn-primary" style="width:10vw;margin-left:250px;">User Console</a>
    </div>
    <div style="float:left;">
      <a href="/addChallenge" class="btn btn-dark" style="width:10vw;">ADD CHALLENGE</a>
      </div>
      <div style="float:left;">
        <a href="/posterConsole" class="btn btn-dark" style="width:10vw;">MANAGE POSTERS</a>
        </div>
      </div>
    </div>
   
  <% data.map((datai,i)=>{ %>
  <div style="padding: 0px 250px 0px; margin-top:35px;">
    <div class="shadow_admin" style="background:#222; border-radius:10px; padding:15px;">
      <img style="
          margin-right:20px;
          float:left;
          height:160px;
          width:260px;
          padding-bottom:10px;" src=<%=datai.src%>>


      <div>
        <h4 style="color:white;"><%- datai.challengeName %></h4>
        <h6 style="color:#AAAAAA; margin-top: 2px;">Type: <%= datai.challengeType %></h6>
        <h6 style="color:#AAAAAA; margin-top: 2px;"></h6>
        <h6 style="color:#AAAAAA;"> <%= datai.category %></h6>
      
        <form id="deleteChallenge" action="/adminPanel" method="post">
          <input type="hidden" id="custId" name="deleteButton" value=true>
          <button name="delete" value=<%= datai.challengeId %> type="submit" form="deleteChallenge" class="btn   btn-danger" style="background: #222; color:#FFFFFF;float:left;">
            DELETE CHALLENGE
          </button>
        </form>
      
        <% if(!datai.isResultPublished) {%>
          <form id="publishResult" action="/adminPanel" method="post">
            <input type="hidden" id="custId" name="publishResult" value=true />
            <button type="submit" form="publishResult" class="btn btn-success" name="resultButton" value=<%= datai.challengeId %> style="background: #222;color:#FFFFFF;">PUBLISH RESULT</button>
          </form>
          <% } %>
        <% if(datai.isResultPublished) {%>
        <form id="deleteResult" action="/adminPanel" method="post">
          <input type="hidden" id="custId" name="deleteResult" value=true>
          <button name="deleteResultId" value=<%= datai.challengeId %> type="submit" form="deleteResult" class="btn btn-deep-purple button_adminPanel" style="background: #222; color:#FFFFFF; float:left; ">
            Delete Result
          </button>
        </form>
        <form id="editResult" action="/adminPanel" method="post">
          <input type="hidden" id="custId" name="publish" value=true>
          <button name="resultButton" value=<%= datai.challengeId %> type="submit" form="publishResult" class="btn btn-dark-green" style="background: #222; color:#FFFFFF; ">
            EDIT RESULT
          </button>
        </form>
        <% } %>

      </div>
    </div>
  </div>
  <% }); %>

</div>
<br />
<!-- <progress id='progress' class="pure-material-progress-circular"/> -->
<!-- <div class="modal fade show" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Publish Challenge</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div> -->
<%- include('partials/footer') %>
