<%- include('partials/header') %>

<% if(successMessage) {%>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Published Successfully!</strong> You can now edit or delete challenge
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>
<div class="jumbotron jumbotron-fluid" style="background-color:transparent; text-align:center;">
  <div class="container">
    <p style="color:white;" class="display-4">ADMINISTRAR | RETOS Y TORNEOS</p>
  </div>
</div>



<!-- <div style="width:100%; text-align:center;">
<form action="https://sweepwidget.com/" method="get">
  <button type="submit" class="btn btn-primary btn-lg">Add Challenge</button>
</form>
</div> -->
<form id="editChallenge" action="/editChallenge" method="post"/>


<div class="list-group" id="list-tab" role="tablist" style="text-align:center;">
  <% data.map(datai=>{ %>
  <hr style="display: block; height: 1px;
    border: 0; border-top: 1px solid #222;
    margin: 1em 0; padding: 0;">
  <div class="container-fluid" style="margin-top:20px; padding: 0px 250px 0px;">
    <div class="row h-100">
      <div class="col my-auto" style="margin-right:70px;">
        <img style="border-radius:10px" class="card_image"
        src=https://sweepwidget.com/<%=datai.image_loc%>.thumb_600_width.jpg>
      </div>
      <div class="col my-auto">
        <button type="button" form="editChallenge"
        class="btn btn-lg" style="background: #222; color:#FFFFFF;">EDITAR</button>
      </div>
      <div class="col my-auto">
        <button type="button" form="editChallenge"
        class="btn btn-lg" style="background: #222; color:#FFFFFF;">ENTRADAS</button>
      </div>
      <% if(datai.isPublished) {%>
        <div class="col my-auto">
            <button name="id" value= <%= datai.competition_id %> type="submit"
              form="addChallenge" class="btn btn-lg" style="background: #222; color:#FFFFFF;">
              RESULT
            </button>
        </div>
        <div class="col my-auto">
          <form id="deleteChallenge" action="/adminPanel" method="post">
          <input type="hidden" id="custId" name="deleteButton" value=true>
            <button name="delete" value= <%= datai.competition_id %> type="submit"
            form="deleteChallenge" class="btn btn-lg" style="background: #222; color:#FFFFFF;">
              DELETE MATCH
            </button>
          </form>
        </div>
      <% } %>
      <% if(!datai.isPublished) {%>
        <div class="col my-auto">
          <form id="addChallenge" action="/adminPanel" method="post" >
          <input type="hidden" id="custId" name="publish" value=true>
            <button name="id" value= <%= datai.competition_id %> type="submit"
              form="addChallenge" class="btn btn-lg" style="background: #222; color:#FFFFFF;">
              PUBLISH
            </button>
            </form>
        </div>

        <% } %>

      <div class="col my-auto">
        <h4 style="color:white;"><%= datai.title %></h4>
        <div class="textStyle" style="color:white;   margin-top: 2px;">
          Status: <%= datai.type %>
        </div>
        <h6 style="color:#AAAAAA;">ID: <%= datai.competition_id %></h6>
      </div>
    </div>
  </div>
  <% }); %>
</div>
<hr style="display: block; height: 1px;
  border: 0; border-top: 1px solid #222;
  margin: 1em 0; padding: 0;">
