<%- include('partials/header_challengeList') %>

<script type="text/javascript">
  $(document).ready(function() {
    $(window).bind('beforeunload', function(){
    myfun();
    });
    function myfun(){
      $.post("http://localhost:3000/challenge", function(response){
      window.location.replace("http://localhost:3000/adminPanel");
      });
}
});
</script>
<style media="screen">
  .buttonCard{
    margin-top:15px;
    padding:10px;
    width:90%;
    border:0px solid #222222;
    border-radius: 20px;
    font-weight: bold;
    background: #6666ff;
    color:#FFF;
  }
</style>


<div style="height: 35vh;">
  <div style='
  background-image: url("<%=src%>");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:rgba(0, 0, 0, 0.4);'>
  <div style="padding: 3vw;">
<h1 id="nameBanner" style="color:#fff; font-size:2vw; font-family: 'Open Sans', sans-serif;font-weight: bold;">
  <%- challengeName %>
</h1>
<div style=" display:inline-block;">
  <p id="timeBanner" style="color:white;margin-right:1vw;font-size:1.2vw;">
    <i class="fa fa-clock-o" aria-hidden="true"></i>
    Comienza en: <%=challengeTime%></p>
 
  <% if(data.challengeType) {%>  
    <p style="color: white;font-size:1.2vw;">
      <%=data.challengeType.S%>
    </p>
  <%}%>  

  <p id="prizeBanner" style="color:white;font-weight: bold;font-size:1.2vw; ">
    <i class="fa fa-trophy" aria-hidden="true" style="color:ffb327;height:1vh;"></i>
    <%if(prize.L.length>1) {%>
     Multiple Prizes
     <%}%>
     <%if(prize.L.length===1) {%>
      <%= prize %>
      <%}%>
    </p>
</div>


    <form action="/dashboard" method="post">
      <button 
      type="submit" 
      name="more_challenges" 
      class="button-view-all" 
      style="background-image: linear-gradient(to right,#ff0000, #ff0000);color:#fff; font-size:1.5vw; font-family: 'Open Sans', sans-serif;" > 
        JOIN
        <i class="fas fa-chevron-right" style="margin-left:1vw;"></i>
      </button>    
    </form>
  </div>
 </div>
</div>
<div style="width: 100%;height:100%;background:#121f1f;padding: 3vw;">
  <h1  style="color:#fff; font-size:1.5vw; font-family: 'Open Sans', sans-serif;margin-bottom: 5vh;">
    Prizes 
    </h1>
  <div style="display: inline-flex;">

    <% for(i=0;i< prize.L.length; i++) {%>
        <div style="background: #293535;border-radius: 10px;margin-right: 1vw;">
          <h1  style="color:#fff; font-size:1.5vw; font-family: 'Open Sans', sans-serif;display: inline-flex;margin:1vw;margin-bottom: 0.1vw;;">
            <%if(i===0){%>
            <%=1%>st
            <%}%>   
            <%if(i===1){%>
              <%=2%>nd
              <%}%>
            <%if(i===2){%>
            <%=3%>rd
            <%}%> 
            <%if(i===3){%>
              <%=4%>th
              <%}%>  
              <%if(i>=4){%>
                <%=i+1%>th
                <%}%>    
          </h1>
          <img src="images/treasure_box.png" style="height:15vh;margin-top:-8vh;margin-bottom: 2vh;" alt="">
          <div style="background:#242f2f;color:white;text-align: center;color:#fff; font-size:1.5vw;padding:1vw; font-family: 'Open Sans', sans-serif;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
            <%console.log(prize.L)%>
            <%= prize.L[i].S%>
          </div>
        </div>
       <%}%>
  </div>
  <h1  style="color:#fff; font-size:1.5vw; font-family: 'Open Sans', sans-serif;;margin-top: 3vw;">
    Description
  </h1>
  <div style="color: white;">
    <%- challengeDescription %>
  </div>
  <h1  style="color:#fff; font-size:1.5vw; font-family: 'Open Sans', sans-serif;margin-top: 3vw;">
    Rules
  </h1>
  <div style="color: white;">
    <%- challengeDescription %>
  </div>
</div>


<!-- <div style="margin-top:13vh;">


<%if(isLogged===false){%>
  <div class="" style="text-align:center; margin-bottom:50px;">
    <% if(code==null) { %>
      <h3 style="color:white; margin-top:4vh;font-size:1.5vw;">Please Log in/ Sign Up First to join a challenge. </h3>
      <form class="" action="/login" method="get">
      <button name="id" value=<%= challengeId %> class="buttonCard" type="submit" style="margin-top:4vh; width:10vw;border-radius:0;background:#FF0000;font-size:1vw;"  >Inicia sesión/ Regístrate</button>
    </form>
      <% } %>
  </div>
<% } %>
<%if(isLogged===true){%>
  <%if(isEverSubscribed===true){%>
    <div class="" style="text-align:center; margin-bottom:50px;">
      <% if(code==null) { %>
        <% var end_date_formatted =end_date.substring(0,4)+"/"+end_date.substring(4,6)+"/"+end_date.substring(6,8) %>
        <h3 style="color:white;  margin-top:4vh;font-size:1.5vw;">¡Ups! Tu suscripción el: <%=end_date_formatted%>.<br /> Para participar en este reto por favor renueva tu membresía haciendo click.<br /> clicking on Recharge button. </h3>
        <button name="id" value=<%= challengeId %> class="buttonCard" type="submit" style="margin-top:4vh; width:10vw;border-radius:0;background:#FF0000;font-size:1vw;"  >Renovar</button>
        <% } %>
      <% if(code!=null) { %>
          <% } %>
    </div>
    <% } %>
  <%if(isEverSubscribed===false){%>
    <div class="" style="text-align:center; margin-bottom:50px;">
      <% if(code==null) { %>
        <h3 style="color:white; margin-top:4vh;font-size:1.5vw;">¡Comienza tu suscripción hoy y disfruta de acceso ilimitado a nuestros retos!</h3>
        <button name="id" value=<%= challengeId %> class="buttonCard" type="submit" style="margin-top:4vh; width:10vw;border-radius:0;background:#FF0000;font-size:1vw;">COMIENZA YA <i class="fas fa-chevron-right" style="margin-left:1vw;"></i></button>
        <% } %>
    </div>
    <% } %>
<% } %>
</div> -->

<div style="margin-bottom: -100vh;">
  <%- include('partials/footer') %>
  </div>