<%- include('partials/header') %>


<script type="text/javascript">
  $(document).ready(function() {
    $('#acceptTANDC').click(function(event){
      $.cookie("tandc", true);
       $('#exampleModalCenter').modal("hide");
    });
   if (typeof $.cookie('tandc') === 'undefined') {
     $('#exampleModalCenter').modal('show');
  }
  });
</script>

<div class="jumbotron jumbotron-fluid"  style="background-color:transparent; text-align:center; font-family: 'Monoton', cursive;font-weight:normal;font-style:normal;">
  <div class="container" >
    <h1  class="display-4" style="color:#ffa500;  font-family: 'BIGMACCA';">RETOS   DISPONIBLES</h1>
  </div>
</div>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->


  <!-- The slideshow -->


  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container-fluid  " style="text-align:center 300px;">
        <div class="row no-gutters justify-content-center" style="text-align:center" >
    <% data.slice(0,3).map(datai =>{ %>
      <div class="cardShadow carder col-md-6 col-sm-6 col-lg-2 cardModified "   style="width:350px; padding-bottom:15px;   margin:50px;">
          <img  class="card_image" src=<%=datai.src%> >
            <!--src=https://sweepwidget.com/<%=datai.src%>.thumb_600_width.jpg>-->
        <div class="textStyle" style="color:#00d800; font-weight: bold; font-family: 'Lato', sans-serif; font-size:1.3rem; margin-top:20px;   font-weight: bold;">
          <%= datai.challengeName %>
          </div>
          <div class="textStyle" style="color:#B0B0B0;   margin-top: 8px;">
            ID: <%= datai.challengeId %>
          </div>
          <div class="textStyle" style="color:#B0B0B0;   margin-top: 2px;">
            Status: <%= datai.challengeType %>
          </div>
            <div class="textStyle" style="color:	#B0B0B0;   margin-top: 2px;">
        <%= datai.challengeTime %>
        </div>
        <form action="/dashboard"  method="post" >
      <button name="id" value=<%= datai.challengeId %> class="buttonCard" type="submit" >JOIN</button>
      </form>
    </div>
      <% }) %>
      </div>
  </div>
    </div>

    <% for (i = 1; i < ((data.length-3)/3)+1; i++) { %>
    <div class="carousel-item">
      <div class="container-fluid  " style="text-align:center 300px;">
        <div class="row no-gutters justify-content-center" style="text-align:center" >

        <% data.slice(3*i,(3*i)+3).map(datai =>{ %>
          <div  class="cardShadow carder col-md-6 col-sm-6 col-lg-2 cardModified "   style="width:350px; padding-bottom:15px;   margin:50px;">
            <img  class="card_image" src=<%=datai.src%> >
              <!-- src=https://sweepwidget.com/<%=datai.src%>.thumb_600_width.jpg> -->
          <div class="textStyle" style="color:#00c400; font-size:1.2rem;   font-weight: bold;">
            <%= datai.challengeName %>
            </div>
            <div class="textStyle" style="color:white;   margin-top: 2px;">
              ID: <%= datai.challengeId %>
            </div>
            <div class="textStyle" style="color:white;   margin-top: 2px;">
              Status: <%= datai.challengeType %>
            </div>
              <div class="textStyle" style="color:white;   margin-top: 2px;">
          <%= datai.challengeTime %>
          </div>
            <form action="/dashboard"  method="post" >
          <button name="id" value=<%= datai.challengeId %> class="buttonCard" type="submit" >JOIN</button>
          </form>
          </div>

      <% }) %>
      </div>
  </div>
    </div>
    <% } %>
  </div>

  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<% if(tandc===null) { %>
<div class="modal fade show" data-backdrop="static" data-keyboard="false" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable " role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Términos y Condiciones de Uso de “retosgamer.com”</h5>
      </div>
      <div class="modal-body">


ASPECTOS GENERALES
INFORMACIÓN
Avenik CO S.A.S es una sociedad constituida conforme a las leyes colombianas, identificada con NIT: 900763833-7, con domicilio en la ciudad de Bogotá D.C., que para los efectos de los presentes términos se denominará EL OPERADOR.
NATURALEZA JURÍDICA
Los presentes términos y condiciones de uso regulan la relación contractual de carácter comercial que une a los usuario que acceden a la plataforma virtual y al OPERADOR, especialmente en la autorización de uso que otorga éste en favor de aquel.
DEFINICIONES
Carriers: Los operadores de telecomunicaciones y marcas aliadas en Colombia que ofrecen su plataforma de pago para hacer efectiva la suscripción y renovación de servicios en Retosgamer.
Mensajes de datos: La información generada, enviada, recibida, almacenada o comunicada por medios electrónicos, ópticos o similares, como pudieran ser, entre otros, el Intercambio Electrónico de Datos (EDI), Internet, el correo electrónico, el telegrama, el télex o el telefax (Ley 527 de 1999 art. 2 lit. a).
Comercio Electrónico: Comprende el envío, transmisión, recepción, almacenamiento de mensajes de datos por vía electrónica. Las dudas que surjan respecto de la eficacia y validez de los mensajes de datos y demás actividades vinculadas al comercio electrónico se interpretarán de conformidad con la ley 527 de 1999.
Cookies: Cadenas de texto enviadas virtualmente que son almacenadas por el uso de La Plataforma por el Operador, para la consulta de las actividades y preferencias de los usuarios.
usuario: Toda persona natural que, como destinatario final, use la Plataforma con el fin de adquirir bienes o servicios.
Operador de La Plataforma: Encargado de administrar operativamente y funcionalmente la Plataforma, representado para los efectos de los presentes términos por Avenik CO SAS, o por la persona natural o jurídica que ésta designe.
Datos personales: Es toda información que permite identificar o hacer identificable a una persona física.
Interacción en La Plataforma: Facultad de acceso por parte de los usuario para conocer los productos y servicios exhibidos por el OPERADOR, el contenido puesto a disposición en la Plataforma y manifestar su voluntad de adquirir y/o renovar una suscripción.
Mayor de edad: Persona natural mayor de dieciocho (18) años.
Comunicaciones externas a la plataforma: Retosgamer podrá comunicarse con el usuario a través de otros canales como Whatsapp y cualquier otro medio de acceso al usuario siempre y cuando éste haya compartido la información con Retosgamer mediante su previa autorización a la Política de tratamiento de datos personales. Retosgamer únicamente será responsable por las comunicaciones y/o notificaciones enviadas desde los canales adicionales que establezca para dicho fin. Retosgamer no será responsable frente al usuario o terceros, por mensajes y comunicaciones enviadas desde canales que Retosgamer no reconozca como propios.
Pasarela de pagos: Servicio que permite la realización de pagos por parte de los usuario directamente a los Carriers, a través de medios electrónicos utilizando plataformas tecnológicas (software).
La Plataforma: Aplicativo web y móvil administrado por el OPERADOR, que permite la concurrencia de usuario con suscripciones activas para participar en diferentes retos de videojuegos online con premios en dinero real para clasificados y ganadores de cada actividad.
Publicidad: Es toda forma de comunicación realizada por el OPERADOR, con el fin de brindar información sobre productos, actividades comerciales y comunicar estrategias o campañas publicitarias o de mercadeo, propias o de terceros; realizada como mecanismo de referencia y no como oferta pública.
Suscripción: Membresía diaria, semanal, o mensual adquirida a través de Carriers y utilizada a través de la Plataforma.
Términos y condiciones de uso de La Plataforma: Constituyen los términos que han de regular el uso que los usuario dan a La Plataforma.
Ventanas emergentes (Pop-Ups): Ventana o aviso de internet que emerge automáticamente en cualquier momento cuando se utiliza la Plataforma.


OBJETO
Los presentes términos y condiciones regulan la autorización de uso que otorga el Operador a los usuario, para que éstos ingresen a la plataforma virtual, se informen sobre las suscripciones exhibidas, y participen en actividades premium que principalmente constan de retos en videojuegos online con premios en dinero real para clasificados y ganadores de cada actividad.
El Operador a través de la Plataforma realiza las siguientes acciones: i) exhibe diferentes actividades premium con premios en dinero real, ii) facilita acceso a suscripciones pagas diariamente, semanalmente, o mensualmente en conjunto con Carriers, iii) administra las actividades de cada usuario verificando resultados, y asegurando la sana competencia e integridad de cada participante.
PLATAFORMA TECNOLÓGICA QUE PERMITE SU USO
Es una plataforma que permite su uso gratuito por varios medios, a saber: i) portal web: www.Retosgamer.com. Los usuarios podrán utilizar La Plataforma exclusivamente para su uso personal y entretenimiento, sin que esto implique el otorgamiento de una licencia de la tecnología de la plataforma de ningún tipo.
MODIFICACIÓN
El Operador podrá modificar autónomamente y en cualquier momento en aspectos formales, procedimentales o sustanciales los presentes Términos y Condiciones de uso de La Plataforma, los cuales serán actualizados y puestos a disposición de los usuarios en La Plataforma, siendo la última versión publicada la que regulará las relaciones comerciales que se generen al momento de realizarse la transacción. Así mismo, cuenta con plena autonomía para modificar los usos de La Plataforma permitidos a los usuarios, con el único deber de informarlo por un medio virtual que permita su publicación y comunicación al público.
DETALLE DEL SERVICIO
usuarios
Toda persona natural que, como destinatario final, use La Plataforma para solicitar por medio de ésta una suscripción premium, con el fin de participar en actividades Gamer que constan principalmente de retos con premios en dinero real para clasificados y ganadores.
El uso de la Plataforma lo realiza el usuario como persona capaz, manifestando que, para la celebración de contratos, cuenta con plena capacidad legal para ser sujeto de derechos y obligaciones, calidades que refrenda al momento de generar su registro.
CUENTA DE USUARIO
Los usuarios usan como referencia para su suscripción, un perfil creado dentro de retosgamer, teniendo como condición necesaria la creación de una Cuenta de Usuario, donde se solicitarán datos como nombre, fecha de nacimiento, teléfono, y dirección de correo electrónico. Se encuentra prohibido tener más de una (1) cuenta relacionada a cualquiera de los datos anteriormente mencionados. Esta información se utiliza para la plena identificación de las personas que pretenden realizar suscripciones y participar en actividades Gamer con premios en dinero real. Para el cumplimiento de los presentes términos y condiciones, para la prevención de fraudes, para vincular al usuario con sus respectivas participaciones y en general para los fines definidos en el acápite manejo de información.
Los usuarios en caso de tener cuentas en las redes sociales Facebook y Google +, podrán crear su cuenta de usuario con la utilización de las credenciales allí definidas.
Podrán los usuarios, además de la información obligatoria y facultativa requerida al momento de la creación de la cuenta, suministrar voluntariamente más datos relacionados con su individualización al momento en que cree su propio Perfil dentro de La Plataforma.
El uso de las cuentas es personal e intransferible, por lo cual los usuario no se encuentran facultados para ceder los datos de validación para el acceso a La Plataforma ni el uso de su cuenta a ningún tipo de terceros. El incumplimiento de lo anterior, acarreará la suspensión y bloqueo definitivo de la cuenta (incluye correo electrónico y número de identificación personal). En caso de olvido de los datos de validación o de usurpación de éstos, es obligación del usuario informar al Operador a través de la opción “olvidó su contraseña” o a través de comunicación enviada al correo electrónico soporte@retosgamer.com. Las cuentas de los usuarios serán administradas por el Operador o por la persona que éste designe, teniendo plena facultad para la conservación o no de la cuenta, cuando la información suministrada por los usuario no sea veraz, completa o segura; o cuando se presente incumplimiento de las obligaciones de los usuarios. En ningún momento el Operador solicitará al usuario información que NO resulte necesaria para su participación en retos y/o actividades de plataforma o facilitar el pago de su suscripción. Por lo tanto, los datos de tarjetas débito o crédito, solo se solicitarán al momento de realizar el pago virtual si ese es el método de pago deseado por el usuario a través de un Carrier.
Con la creación de la Cuenta de Usuario, los usuarios están manifestando su voluntad de aceptación expresa e inequívoca de los presentes Términos y Condiciones de uso de La Plataforma.
Parágrafo. Autoriza expresamente el usuario al momento de la aceptación de los presentes Términos, el uso de Cookies por parte del Operador en toda actividad de uso que realice de la Plataforma.
CAPACIDAD
En virtud de las condiciones de capacidad legal establecidas en el Código Civil Colombiano y de la validez de la manifestación de voluntad a través de medios electrónicos establecida en la ley 527 de 1999, los usuarios al momento de la creación de la Cuenta de Usuario, manifiestan expresamente tener capacidad para celebrar el tipo de transacciones que se pueden realizar usando La Plataforma; y con base en lo prescrito en la ley 1098 de 2006 de la República de Colombia los menores de edad cuentan con capacidad para celebrar éste tipo de transacciones, no obstante el Operador deberá: i) Excluir del sistema de información los datos de menores de edad que hayan utilizado La Plataforma; ii) Dar a conocer a las autoridades de cualquier situación, de la que tenga conocimiento, que ponga en peligro la integridad de un menor de edad; iii) Informar a los menores que se encuentren interesados en adquirir suscripciones a través de La Plataforma usando medios de pago electrónico, que deberán realizar la transacción económica de carácter electrónico a través de sus padres o representantes legales, previo registro en la plataforma por parte de éstos.
DESCRIPCIÓN DEL SERVICIO
El Operador ofrece a través de La Plataforma suscripciones pagas para usuarios con las cuales acceden a actividades en videojuegos online que principalmente constan de retos de habilidad en juegos individuales. Cada reto tiene clasificatorios por posición basadas en capturas de pantalla que el usuario sube a la plataforma como prueba de su participación en dicho reto. Un administrador de retosgamer verifica cada captura de pantalla y declara al ganador, publicando las capturas de pantalla de los clasificados como pruebas de su posición y premio.
Suscripción: El usuario realizará el pago directamente al carrier a través de las plataforma virtuales de pagos que tiene contratadas el Operador para este fin. El usuario debe seleccionar el medio de pago que desea utilizar, teniendo como posibilidades  las que cada carrier ofrezca respectivamente.
Registro: El Usuario debe crear su cuenta personal en la cual se requerirán los datos personales que permitan su identificación y validación de participación en cada actividad de la plataforma. Una vez completado el registro el Usuario podrá acceder a cada actividad exhibida en la plataforma y esperar a la fecha de finalización para verificar su posición y/o victoria para el reclamo respectivo de premio si da a lugar.
Reclamo de premios: De ser ganador, EL OPERADOR se comunicará con el usuario desde el correo electrónico soporte@retosgamer.com con el fin de coordinar el pago. Los métodos disponibles de pagos son a través de tarjetas de regalo en Steam, transferencia electrónica, o consignación bancaria en la cuenta que el usuario designe. Los pagos se realizan semanalmente, hasta 5 días hábiles después de la fecha de finalización, con el fin de verificar la identidad e integridad de cada participante clasificado y/o ganador de premios.
DEBERES DEL USUARIO
Con la aceptación de los presentes términos El usuario se obliga a: (1) Suministrar información veraz y fidedigna al momento de crear su Cuenta de Usuario; (2) Abstenerse de transferir a terceros los datos de validación (nombre de usuario y contraseña); (3) Abstenerse de utilizar la Plataforma para realizar actos contrarios a la moral, la ley, el orden público y buenas costumbres en contra del Operador, los Carriers o de terceros; (4) Pagar oportunamente al Carrier la contraprestación económica definida en su respectiva suscripción; (5) Informar inmediatamente al Operador en caso de olvido o usurpación de los datos de validación; (6) Abstenerse de realizar conductas atentatorias del funcionamiento de La Plataforma, como trampa o ‘hacking’ dentro de videojuegos a participar; (7) Abstenerse de suplantar la identidad de otros usuarios; (8) Abstenerse de descifrar, descompilar o desensamblar cualquier elemento de La Plataforma o de cualquiera de sus partes; (9) Habilitar la utilización de ventanas emergentes durante la operación; (10) En general todas aquellas conductas necesarias para la ejecución del negocio jurídico.
DEBERES DEL OPERADOR
En virtud de los presentes términos el Operador, se obliga a (1) Suministrar información cierta, fidedigna, suficiente, clara y actualizada respecto de las suscripciones que exhibe y actividades que ofrece en la plataforma; (2) Informar suficientemente sobre los medios habilitados para que los usuario realicen el pago; (3) Poner a disposición de los usuario los términos y condiciones de uso de La Plataforma de forma actualizada; (4) Utilizar la información únicamente para los fines establecidos en los presentes términos; (5) Facilitar la renovación de su suscripción redireccionando al respectivo Carrier; (6) Disponer y pagar dentro de los plazos establecidos en estos términos y condiciones los premios respectivos a cada ganador de las actividades en la plataforma; (7) Asegurar la sana competencia e integridad de cada participación verificando las respectivas capturas de pantalla de usuarios en la plataforma.
CONSIDERACIONES FINALES
CONTENIDOS
A través de la Plataforma el Operador podrá poner a disposición de los usuarios información de carácter comercial y publicitario, propio o de terceros de conformidad a las buenas costumbres comerciales. En estos casos el Operador no avala, garantiza o compromete su responsabilidad frente a los servicios y/o productos que se comercialicen por éstos terceros, ya que la Plataforma sirve como canal de comunicación y publicidad, mas no como herramienta de prestación de servicios. En consecuencia, es total responsabilidad de los usuarios el acceso a los sitios que remite la publicidad, asumiendo la obligación de verificar y conocer los términos de los servicios ofrecidos por los terceros.
Toda la información puesta a disposición en la Plataforma como imágenes, publicidad, nombres, marcas, lemas y demás elementos de propiedad intelectual; son utilizados legítimamente por el Operador, sea porque son de su propiedad, porque tiene autorización para ponerlos a disposición,  o porque se encuentra facultado para hacerlo en  virtud de las decisiones 351 de 1993 y 486 de 2000 de la Comunidad Andina de Naciones y la ley 23 de 1982 .
FUNCIONAMIENTO DE LA PLATAFORMA
El Operador administra directamente o por medio de terceras personas la Plataforma, toda la información que se comunica allí corresponde a información cierta y actualizada. En ningún caso responderá por daños directos o indirectos que sufra el usuario por la utilización o incapacidad de utilización de La Plataforma.
La plataforma se encuentra disponible las 24 horas del día para su acceso y participación en actividades. Para la realización y/o renovación de suscripciones la disponibilidad de La Plataforma y sus carriers es de 24 horas al día. El Operador realiza los mejores esfuerzos para mantener en operación La Plataforma, pero en ningún caso garantiza disponibilidad y continuidad permanente de La Plataforma.
El Operador se reserva el derecho de cancelar las cuentas de usuarios y/o de prohibir el acceso a La Plataforma a los usuarios que realicen conductas violatorias de los presentes términos o que incumplan las obligaciones contraídas.
SOPORTE
Retosgamer no opera directamente las plataformas de pagos de Carriers con las que slos usuarios realizan su suscripción respectiva. Retosgamer sólo actúa como un portal de contacto entre usuario y Carriers para realizar su pago. Para problemas con la realización de su pago en cualquiera de las suscripciones que adquiera el usuario a través de Carriers aliados, podrá ejercer su derecho de retracto frente al Carrier conectándose a través de sus puntos de contacto por medio eléctronico o presencial designados en el portal web respectivo.
En ningún momento Retosgamer renovará la suscripción de cada usuario sin el previo consentimiento del mismo al momento de realizar el pago con su respectivo Carrier.
Retosgamer brindará soporte a cada usuario inmediato a través del chat integrado a la plataforma, y soporte especializado para consultas individuales dentro de las siguientes 24 horas al requerimiento.
COMERCIO ELECTRÓNICO
En cumplimiento de las disposiciones colombianas sobre mensajes de datos según la ley 527 de 1999, se comunica que la legislación nacional reconoce validez a los mensajes de datos y por tanto ellos adquieren carácter y entidad probatoria. En consecuencia, entienden los usuarios, que mediante el cruce de mensajes de datos los intervinientes pueden dar lugar al nacimiento, modificación y extinción de obligaciones, siendo de su resorte exclusivo el contenido, consecuencias, responsabilidades y efectos de la información generada.
MANEJO DE INFORMACIÓN
La información recolectada por el Operador para la suscripción y registro, es suministrada por los usuario de forma libre y voluntaria, para que esta sea administrada por el Operador o por quien éste designe para el cumplimiento de los deberes adquiridos, lo que implica su recolección; almacenamiento en servidores o repositorios del Operador o de terceros; circulación de los mismos dentro de la organización del Operador; comunicación a los usuario información comercial, publicitaria y de mercadeo relacionada con su actividad comercial.
Así mismo, los datos recolectados serán objeto de análisis para fines de mejorar la estrategia de negocios del portal web, apoyada en herramientas de inteligencia de negocios y minería de datos, que permiten adquirir conocimientos prospectivos para fines de predicción, clasificación y segmentación.
El usuario podrá ejercer su derecho de conocer, actualizar, modificar y suprimir los datos personales existentes en las bases de datos asociadas a la Plataforma. Para ello deberá realizar la solicitud de consulta, reclamo o supresión a la dirección electrónica soporte@retosgamer.com detallando las modificaciones a realizar y aportando los documentos que lo soportan.
El Operador es responsable del tratamiento de la información personal recolectada a través del portal web, responsabilidad que podrá delegar en un tercero, en calidad de responsable o encargado de la información, asegurando contractualmente adecuado tratamiento de la misma.
DOMICILIO Y LEGISLACIÓN APLICABLE
Los presentes Términos y Condiciones de Uso de La Plataforma se acogen en el territorio Colombiano, conforme a su normatividad general y sectorial. Su adopción implica el ejercicio de su libre voluntad y que la relación que surge de este documento se regirá en todos sus efectos por su contenido y en su defecto por la ley comercial colombiana.
ACEPTACIÓN TOTAL DE LOS TÉRMINOS
El usuario manifiesta expresamente tener capacidad legal para usar La Plataforma y para celebrar las transacciones comerciales que se puedan generar con los Carriers. Así mismo, manifiesta haber suministrado información real, veraz y fidedigna; por ende de forma expresa e inequívoca declara que ha leído, que entiende y que acepta la totalidad de las situaciones reguladas en el presente escrito de Términos y Condiciones de Uso de la Plataforma, por lo que se compromete al cumplimiento total de los deberes, obligaciones, acciones y omisiones aquí expresadas.
En caso que usuarios de otros países utilicen La Plataforma para suscripciones en Colombia se sujetan completamente a lo dispuesto en los presentes términos.

      </div>
      <div class="modal-footer">
        <button type="button" id="acceptTANDC" class="btn btn-primary">Accept</button>
      </div>
    </div>
  </div>
</div>
<% } %>
