<%- include('partials/header') %>

<script type="text/javascript">
  $(document).ready(function() {
    var playerPlaceJson = [];
    var indexArr = [];
    $("#tableSearch").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
    var jsonData = [];
    $('.add').click(function(e) {
      var button_classes, value = +$('.playersAdded').val();
      button_classes = $(e.currentTarget).prop('class');
      if (button_classes.indexOf('add') !== -1) {
        value = (value) + 1;
      }
      value = value < 0 ? 0 : value;

      $('.playersAdded').val(value);

      var buttonValue = value + 1;
      $("button.add").html("Place At Position " + buttonValue);
      var index = $(this).attr("id").split(":");

      var str = $(this).data("obj");
      var email = document.getElementById("email:" + index[1]).value;
      var userID = document.getElementById("userID:" + index[1]).value;

      var arr = {
        "user_name": str,
        "email": email,
        "userID": userID
      };
      var position = parseInt(index[1]);
      document.getElementById("del:" + index[1]).style.display = "inline";
      document.getElementById("del:" + index[1]).removeAttribute("disabled");
      document.getElementById("choose:" + index[1]).style.display = "none";
      document.getElementById("del:" + index[1]).innerHTML = "Remove From Position " + value;

      playerPlaceJson.push(arr);

      var len = playerPlaceJson.length;
      if (indexArr.length > 0) {
        document.getElementById("del:" + indexArr.pop()).setAttribute("disabled", "disabled");

      }
      indexArr.push(parseInt(index[1]));
    });
    $('.del').click(function(e) {
      var button_classes, value = +$('.playersAdded').val();
      button_classes = $(e.currentTarget).prop('class');
      if (button_classes.indexOf('del') !== -1) {
        value = (value) - 1;
      }
      value = value < 0 ? 0 : value;
      $('.playersAdded').val(value);
      var buttonValue = value + 1;
      $("button.add").html("Place At Position " + buttonValue);
      var index = $(this).attr("id").split(":");

      playerPlaceJson.splice(playerPlaceJson.length - 1, 1);
      document.getElementById("del:" + index[1]).style.display = "none";
      document.getElementById("choose:" + index[1]).style.display = "inline";
      document.getElementById("del:" + index[1]).innerHTML = "Remove From Position " + value;

      var popped = indexArr.pop();
      document.getElementById("del:" + popped).removeAttribute("disabled");
    });
    $("#publish").click(function(e) {
      var value = $('.playersAdded').val();
      var file = document.getElementById("inputGroupFile02");
      if (value != 0 && file.files.length != 0) {
        $('#frameModalBottom').modal({
          show: true
        });
      }
      if (value == 0 || file.files.length == 0) {
        if (value == 0 && file.files.length == 0) {
          $('#warningAlertMultiple').addClass("show");
          setTimeout(function() {
            $('#warningAlertMultiple').removeClass("show");
          }, 3000);
        } else if (value == 0) {
          $('#warningAlert').addClass("show");
          setTimeout(function() {
            $('#warningAlert').removeClass("show");
          }, 3000);
        } else if (file.files.length == 0) {
          $('#warningAlertFile').addClass("show");
          setTimeout(function() {
            $('#warningAlertFile').removeClass("show");
          }, 3000);
        }
      }
    });
    $("#confirmButton").click(function(e) {
      $('#frameModalBottom').removeClass('show');
      $("#jsonData").val(JSON.stringify(playerPlaceJson));
      $("#uploadForm").submit();

        // var formData = new FormData();
        // var d = file;
        // formData.append('file',d);
        // formData.append('jsonData',JSON.stringify(playerPlaceJson));
        // $.ajax({
        //   url: "http://localhost:3000/declareResult",
        //   type: 'POST',
        //   enctype: 'multipart/form-data',
        //   data: file,
        //   success: function(response) {
        //     window.location.replace("http://localhost:3000/adminPanel");
        //   },
        //   cache: false,
        //   contentType: false,
        //   processData: false
        // });
    });
  });
</script>
<%if(typeof(userData)  === 'undefined' || userData===null) {%>
<div class="container-fluid">
  <div class="row justify-content-center">
    <h1>No Users have joined till now</h1>
  </div>
</div>
<% } %>
<%if(typeof(userData)  !== 'undefined' && userData.length >0) {%>

<div>
  <div>
    <div style=" position: absolute;  z-index: 0;" id="warningAlert" class="alert alert-warning alert-dismissible fade" role="alert">
      <strong>Please add atleat a player to proceed.</strong>

    </div>
    <div style=" position: absolute; z-index: 1;" id="warningAlertFile" class="alert alert-warning alert-dismissible fade" role="alert">
      <strong>Please choose a file then try to proceed again.</strong>
    </div>
    <div style=" position: absolute; z-index: 2;" id="warningAlertMultiple" class="alert alert-warning alert-dismissible fade" role="alert">
      <strong>Please choose a file and atleast a player to proceed.</strong>

    </div>
  </div>
  <div class="jumbotron jumbotron-fluid" style="background-color:transparent; text-align:center; font-family: 'Monoton', cursive;font-weight:normal;font-style:normal;">
    <div class="container">
      <p style="color:#ffa500; font-size:2rem; font-family: 'BIGMACCA';">ADMINISTRAR | RETOS Y TORNEOS</p>
    </div>
  </div>


  <div class="container" style="">
    <div class="row">
      <div class="col-sm">
        <div style=" ">
          <div style="color:#a8a8a8; font-size:1.5rem; margin-top:20px; ">
            Total Users selected out of <%= userData.length %>
          </div>
          <input class='playersAdded' style="float:left; background:transparent; font-size:3rem;font-weight:bold;  border:none; color:#FFFFFF;" type="text" value='0' readonly="readonly" />
        </div>
      </div>
      <div class="col-sm">
        <div style="color:#a8a8a8; font-size:1.5rem; margin-top:20px; ">
          Choose a Result Screenshot
        </div>
        <div class="help-block with-errors"></div>

        <div class="input-group mb-3" stryle="margin-top:20px;">
          <div class="custom-file">
            <form id='uploadForm' action='/declareResult' method='POST' encType="multipart/form-data">
              <input id="jsonData" type="hidden" name="jsonData" value="">

              <input type="file" name="screenshot" class="custom-file-input" id="inputGroupFile02" required />
              <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
            </form>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <form style=" " class="form-inline d-flex justify-content-center md-form form-lg mt-0">
          <i style="color:#a8a8a8;" class="fas fa-search" aria-hidden="true"></i>
          <input id="tableSearch" style="padding:15px; color:#FFFFFF; font-size:1.5rem;" class="form-control form-control-lg= ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </div>



  <div style=" padding: 0px 250px 0px; margin-top:70px;">
    <div class="shadow_admin" style="background:#222; border-radius:10px; padding:15px;">
      <img style="border-radius:10px;
      margin-right:20px;
      float:left;
      height:160px;
      width:300px;
      margin-top:0px;
      padding-top:0px;"
      src=<%=unitChallenge.src.S%>>


      <div>
        <h4 style="color:white;"><%= unitChallenge.challengeName.S %></h4>
        <h6 style="color:#AAAAAA; margin-top: 2px;"><%- unitChallenge.challengeDescription.S %></h6>
        <h6 style="color:#AAAAAA;">ID: <%= unitChallenge.challengeId.S %></h6>
        <button type="button" form="editChallenge" class="btn btn-lg btn-primary">EDITAR</button>
        <button id="publish" type="button" form="editChallenge" class="btn btn-lg btn-warning">PUBLICAR</button>
      </div>
    </div>
  </div>


  <div class="container-fluid" style="margin-top:20px; padding: 0px 250px 0px;">

    <table class="table table-bordered table-striped" style="border:2px solid #444; ">
      <thead class="thead_style" style="border:2px solid #444; ">
        <tr class="table_row">
          <th class="table_head" style="border: none;">Image</th>
          <th class="table_head" style="border: none;">Name</th>
          <th class="table_head" style="border: none;">Email</th>
          <th class="table_head" style="border: none;">UserID</th>
          <th class="table_head" style="border: none;">Action</th>
        </tr>
      </thead>
      <% userData.map((datai,i)=>{ %>
      <tbody class="thead_style" style="border:2px solid #444; " id="myTable">
        <tr style=" background-color:#222;height:20px; ">
          <td class="table_head" style="border: none;     vertical-align:middle;">
            <img style="width:50px;" src="https://image.flaticon.com/icons/svg/847/847969.svg" alt="">
          </td>
          <td class="table_head" style="border: none;    vertical-align:middle;">
            <%=datai.user_name %></td>
          <td class="table_head" style="border: none;    vertical-align:middle;">
            <%=datai.user_email %>
          </td>
          <td class="table_head" style="border: none;   vertical-align:middle;">
            <%= datai.user_id %>
          </td>
          <td class="table_head" style="border: none;     vertical-align:middle;">
            <h4></h4>
            <button disabled="" id="<%= "del:"+i %>" value=<%= datai.user_id+":"+i%> class="btn btn-danger del" style="display:none;"><i class="fa fa-trash" aria-hidden="true"></i>
              Remove From Position 1</button>
            <button id="<%= "choose:"+i %>" style="2rem;" data-obj=<%=datai.user_name%> type="button" class="btn btn-success add">
              Place at position 1
            </button>
            <input id="<%= "email:"+i %>" type="hidden" name="email" value=<%=datai.user_email %>>
            <input id="<%= "userID:"+i %>" type="hidden" name="email" value=<%=datai.user_id %>>
          </td>
        </tr>
      </tbody>
      <% }); %>
    </table>
  </div>
  <form id="submitForm" action="/declareResult" method="post">
  </form>


  <div class="modal fade bottom " id="frameModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-frame modal-bottom" role="document">


      <div class="modal-content">
        <div class="modal-body">
          <div class="row d-flex justify-content-center align-items-center">
            <p class="pt-3 pr-2">
              Confirm Publish results? You won't be able to make changes after this.
            </p>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="confirmButton" type="button" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
<%- include('partials/footer') %>
