<%- include('partials/header_leaderboards.ejs') %>
<link rel="stylesheet" type="text/css" href="css/new_card.scss" />

 


  <% var k=4; %>
  <div class="lb-heading-container" >
    <h1  class="lb-heading-mobile" >¡GANADORES!</h1>
  </div>
    <div >
    <% for (i = 0; i < ((data.length-k)/k)+1; i++) { %>
      <div class="container-fluid" >
        <div class="carouselNew">
         <div class="carouselNew-row" style="margin-bottom:3vw;">
        <% data.slice(k*i,(k*i)+k).map(datai =>{ %>
          <% datai.unitChallenge=JSON.parse(datai.unitChallenge)%>
            <div class="carouselNew-tile mobile-cl-optimize"  >
              <form   action="/leaderboard" method="post">
              <input name="id" value=<%= datai.challengeId %> type="hidden" />
            <a style="max-width: 100%;" href="javascript:void(0);" onclick="$(this).closest('form').submit();">
              <% var userData=datai.resultData.replace("'","");
              userData=JSON.parse(userData); %>
              <div style="padding-bottom:2vh;border-radius:0.5vw;padding-top:2vh;">
              <img class="card_image_all_ch" src=<%= datai.unitChallenge.Item.src.S %> style="" >
              <div class="" >
                <h1 class=" heading-card-cl" >
                  <%- datai.unitChallenge.Item.challengeName.S %>
                </h1>
                <h1 class=" heading-card-cl" style="color: #ffff89;">
                  <i class="fa fa-trophy" aria-hidden="true" style="color:ffb327;height:1vh;margin-right:0.5vw;"></i>
                  <% if( datai.unitChallenge.Item.challengePrize.L.length>1) {%>
                    Premios múltiples
                    <% } %>
                    <% if(datai.unitChallenge.Item.challengePrize.L.length===1) { %>
                      <%= datai.unitChallenge.Item.challengePrize.L[0].S %>
                      <% } %>
                </h1>

              <!-- <div style="width:100%;text-align:center;  margin: 0;margin-top:-1vh;">
                <img src="images/winner.png" style="width:6vw; margin-left: auto;margin-right: auto;display: block;">
              </div> -->
                <h4 style="color:white"></h4>
                  <div style="  display: flex;justify-content: center;">
            </div>
              </div>
            </div>
          </a>
        </form>
          </div>
      <% }); %>
      </div>
     </div>
    </div>
    <% } %>
  </div>
  <%- include('partials/footer') %>
