<%- include('partials/header') %>


<script type="text/javascript">
  $(document).ready(function() {
      $('.lbc-img-optimized').click(function(){
        
        $("#modalImg").attr("src",$(this).attr("src"));
        $('#exampleModalCenter').modal('show');

      });
      $('.result-image-lbc').click(function(){
        
        $("#modalImg").attr("src",$(this).attr("src"));
        $('#exampleModalCenter').modal('show');

      });
  });
</script>

<style media="screen">
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(255,255,255,0.3);
}
</style>
<div style="height: 30vh;

background-image: url('<%=unitChallenge.src.M.S.S%>');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  ">
  <div >
 
 </div>
</div>
<div class="jumbotron jumbotron-fluid" style="background-color:transparent;
 text-align:center; font-family: 'Monoton', cursive;
 font-weight:normal;
 font-style:normal;">
  <div class="container">
    <p class="lbc-heading-m">Tabla de clasificación</p>
  </div>
</div>

<div class="container-fluid" style="text-align:center;margin-top: -1vw;">
    <div class="col col-lg-6 col-sm-12 width-100-m" >


<img class="result-image-lbc"  src='<%= url %>' alt="">
<h4 class="lbc-img-txt">
  <strong>Captura de pantalla del resultado</strong>
</h4>
<a href='<%=url%>' download class="lbc-img-txt"><i class="fas fa-arrow-circle-down"></i></a>

</div>
<div class="col col-lg-6 col-sm-12 width-100-m">
<div style=" margin-bottom:25vh; " >
  <div class="">
    <img class="result-image-lbc" src=<%=unitChallenge.src.M.S.S%>>


    <div>
      <h4 class="lbc-img-txt">
        <strong><%- unitChallenge.challengeName.M.S.S %></strong>
        

          <% if( unitChallenge.challengePrize.M.L.L.length>1) {%>
            <p class="lbc-img-txt"> 
              <i class="fa fa-trophy" aria-hidden="true" style="color:ffb327;height:1vh;margin-right:0.5vw;"></i>
              Premios múltiples
            </p>
            <% } %>
            <% if(unitChallenge.challengePrize.M.L.L.length===1) { %>
              
              <p class="lbc-img-txt" style="color: #fff;"> 
                <i class="fa fa-trophy" aria-hidden="true" style="color:ffb327;height:1vh;margin-right:0.5vw;"></i>
              <%= unitChallenge.challengePrize.M.L.L[0].M.S.S %>
            </p>
              <% } %>
              <% console.log(unitChallenge) %>
        <p style="color:#fff;"> <%=unitChallenge.challengeTime.M.S.S %></p>
      </h4>
    </div>
  </div>
</div>
</div>
</div>

<div class="container-fluid padding-mobile-optimize">

  <table class="table table-borderless"style="border-radius:2vw;">
    <thead >
      <tr style="text-align:center;background:hsl(0, 0%, 5%)" >
        <th class="mobile-table-heading-lbc" scope="col">#</th>
        <th class="mobile-table-heading-lbc" scope="col">Captura de pantalla</th>
        <th class="mobile-table-heading-lbc" scope="col">Email</th>
      </tr>
    </thead>
    <% userData.map((datai,i)=>{ %>
    <tbody>
      <%if(i%2!==0){%>
      <tr style="text-align:center;background:#111;" >
        <th class="t-lbc-text"  scope="row"><strong><%=i+1 %></strong></th>
        <td class="t-lbc-text" style="color: white;" >
          
          <img src="<%=datai.url %>" alt="" data-obj='<%=i%>' class="lbc-img-optimized"> </td>
          <input type="hidden" value="<%=datai.url %>" id='<%="id:"+i%>'>
          <th class="t-lbc-text"  scope="row"><strong><%=datai.email %></strong></th>
      </tr>

      <%}%>
      <%if(i%2===0){%>
      <tr style="text-align:center;background:#111;" >
        <th class="t-lbc-text" scope="row"><strong><%=i+1 %></strong></th>
        <td class="t-lbc-text" >
          <img src="<%=datai.url %>" alt="" data-obj='<%=i%>' class="lbc-img-optimized"> </td>
          <input type="hidden" value="<%=datai.url %>" id='<%="id:"+i%>'>

          <th class="t-lbc-text"  scope="row"><strong><%=datai.email %></strong></th>
      </tr>
      <%}%>
    </tbody>
    <% }); %>
  </table>
</div>



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">


    <div class="modal-content" style="background: rgba(20,20, 20, 0.6); backdrop-filter: blur(4px);text-align: center;border-radius: 0.5vw;">
      <div class="modal-header" style="border: none;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <img src="" id="modalImg" class="lbc-mobile-optimized-img" alt="">
      </div>
      
    </div>
  </div>
</div>


<%- include('partials/footer') %>