<%- include('partials/header_myProfile') %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.challengeProfile').click(function(e){
      e.preventDefault();
      var i=$(this).data("value");
      var isPub=$("#pub"+i).val();
      alert(isPub);
      if(isPub==="true"){
        $("#form1"+i).submit();
      }
      else{
        $("#form2"+i).submit();
      }
    });
    $(".c-buttonJoin").click(function(e){
        e.preventDefault();
        window.location.href = window.location.origin+"/subscribe";
    });
    $('.lbc-img-optimized').click(function(){
        
        $("#modalImg").attr("src",$(this).attr("src"));
        $('#exampleModalCenter').modal('show');

      });
  });
</script>
<!-- <div class=" "  style="background-color:transparent; text-align:center; font-family: 'Monoton', cursive;font-weight:normal;font-style:normal;">
    <h6  style="font-size:2rem;color:#ffa500; margin-top:20px;  font-family: 'BIGMACCA';">MI PERFIL</h6>
</div> -->

<!-- <div style=" display: flex;
align-items: center;
margin-top:80px;
justify-content: center;
flex-direction: column; ">
  <div class="card-container">
	<img class="round" style="width:100px;" src="https://image.flaticon.com/icons/svg/695/695563.svg" alt="user" />
	<h3 style="margin-top:20px;"><strong><%=name%></strong></h3>
	<h6 style="font-size:0.8rem;"><%=email%></h6>
	<p><%=phone%></p>
	<div class="buttons">
		<button class="primary">
			Message
		</button>
		<button class="primary ghost">
			Following
		</button>
	</div>
	<div class="skills">
		<ul>

		</ul>
	</div>
</div>
</div> -->
<div style="padding-left: 10vw;
padding-right: 5vw;">


  <table class="table" style="margin-top:5vh;">
    <tbody>
      <tr>
        <td style="color:gray;font-size:1.5vw;text-align: center;"><strong>Detalles de suscripción</strong></td>
        <td style="color:gray;font-size:1.5vw;text-align: center;"><strong><%=name%></strong></td>
        <td style="color:gray;font-size:1.5vw;text-align: center;"><strong><%=email%></strong>
          
          <form action="/forgetPassword" method="GET" >
            
          <button
          id=""
          type="submit"
          name="more_challenges"
          class="button-view-all c-buttonSubs"
          style="font-size: 1vw;background-color:red;">                    
          <strong>¿Se te olvidó tu contraseña?</strong>
        </button>
        </form>
        </td>
        <td style="color:gray;font-size:1.5vw;text-align: center;">
          <% if(active){ %>
          <strong>Activa</strong>
        <% } %>
        <% if(!active){ %>
          <strong>Inactiva</strong>
        <% } %>
      </td>
        <td style="color:gray;font-size:1vw;">
          <% if(active && end_date!=null){ %>
            <% var end_date_formatted =end_date.S.substring(0,4)+"/"+end_date.S.substring(4,6)+"/"+end_date.S.substring(6,8) %>
            <strong>Suscripción termina: <%= end_date_formatted%></strong>
          <% } %>
          <% if(!active && end_date!=null){ %>
            <button
            id=""
            type="submit"
            name="more_challenges"
            class="button-view-all c-buttonJoin"
            style="font-size: 1vw;background-color:red;">                    
            <strong>Reactivar suscripción</strong><i class="fas fa-chevron-right" style="margin-left:1vw;"></i>
          </button>
          <% } %>
          <% if(!active && end_date==null){ %>
            <button
            id=""
            type="submit"
            name="more_challenges"
            class="button-view-all c-buttonJoin"
            style="font-size: 1vw;background-color:red;">                    
            <strong>Registrate</strong><i class="fas fa-chevron-right" style="margin-left:1vw;"></i>
          </button>
          <% } %>
          </td>
      </tr>
      <tr>
        <td style="color:gray;font-size:1.5vw;text-align: center;"><strong>MIS RETOS</strong></td>
          <% if(challengesParticipated!=null && challengesParticipated.length>0) { %>
       
          <% challengesParticipated.map((datai,x) =>{ %>
    <td style="text-align: center;">
                  <input type="hidden" name="id" id='<%= "pub"+x %>' value="<%= datai.isResultPublished %>">
                    <a href="#"  class="challengeProfile" data-value="<%=x%>" >
                    <%if(datai.isResultPublished){%>
                      <form  action="/leaderboard" method="post" id=<%="form1"+x%> >
                        <input type="hidden" id="published" name="id" value="<%=datai.challengeId%>">
                      </form>
                    <%}%>
                    <%if(!datai.isResultPublished){%>
                      <form action="/dashboard" method="post" id=<%="form2"+x%> >
                        <input type="hidden" id="published" name="id" value="<%=datai.challengeId%>">
                      </form>

                      <%}%>
                    <div class="">
                      <div class="">

                        <div style="">
                          <img class="card_image" src=<%=datai.src%>>

                        </div>
                        <div style="width:15vw;">
                          <div class="textStyle" style="color:gray;  font-size:1vw; font-weight: bold; margin-top: 0.5vw;text-align: center;  ">
                           
                            <strong><%=datai.challengeName%></strong>
                          </div>
                          <form action="/dashboard" method="post">
                          </form>
                        </div>
                      </div>
                    </div>
                  </a>
                </td>
              <%}); %>
              <%}%>
              <% if(challengesParticipated==null || challengesParticipated.length==0) { %>
                <td style="text-align: center;"></td>
                <td style="color:gray;font-size:1.5vw;text-align: center;">
                  <div style="display: block; text-align:center;">
                    <i class="fas fa-heart-broken" style="width:3vw;" ></i>
                  </div>    

                    <strong>No has participado</strong></td>
                <td> </td>
                <td></td>
              <%}%>

      </tr>
      <tr>
        <td style="color:gray;font-size:1.5vw;text-align: center;"><strong>RETOS GANADOS</strong></td>
        <% if(challengesWon!=null) {%> 
          <table class="table table-borderless"style="border-radius:0.2vw;background:url('/images/grid.jpg')">
            <thead >
              <tr style="text-align:center;background:rgba(0,0,0,0.8)" >
                <th class="mobile-table-heading-lbc" scope="col">#</th>
                <th class="mobile-table-heading-lbc" scope="col">Captura de pantalla</th>
                <th class="mobile-table-heading-lbc" scope="col">Nombre del reto</th>
                <th class="mobile-table-heading-lbc" scope="col">Premio</th>

              </tr>
            </thead>
            
            <% challengesWon.map((datai,i)=>{ %>
            <tbody>
              <%if(i%2!==0){%>
                <tr style="text-align:center;background:rgba(0, 0, 0, 0.8);" >
                  <th class="t-lbc-text"  scope="row"><strong><%=datai.pos %></strong></th>
                  <td class="t-lbc-text" style="color: white;" >
                     <img src="<%=datai.img %>" alt="" data-obj='<%=i%>' class="lbc-img-optimized"> 
                  </td>
                    <th class="t-lbc-text"  scope="row"><strong><%=datai.challengeName %></strong></th>
                    <th class="t-lbc-text"  scope="row" style="font-size: 1vw;"><strong><% datai.prize.map((dataiP,j)=>{ %>
                      <%=dataiP.S%>
                      <% if(j<datai.prize.length-1) {%>
                        ,
                        <%}%>
                      <%});%></strong></th>
  
                </tr>
        
              <%}%>
              <%if(i%2===0){%>
                <tr style="text-align:center;background:rgba(0, 0, 0, 0.6);" >
                  <th class="t-lbc-text"  scope="row"><strong><%=datai.pos %></strong></th>
                  <td class="t-lbc-text" style="color: white;" >
                     <img src="<%=datai.img %>" alt="" data-obj='<%=i%>' class="lbc-img-optimized"> 
                  </td>
                    <th class="t-lbc-text"  scope="row"><strong><%=datai.challengeName %></strong></th>
                    <th class="t-lbc-text"  scope="row" style="font-size: 1vw;"><strong><% datai.prize.map((dataiP,j)=>{ %>
                      <%=dataiP.S%>
                      <% if(j<datai.prize.length-1) {%>
                        ,
                        <%}%>
                      <%});%></strong></th>
  
                </tr>
              <%}%>
            </tbody>
            <%});%>
            </table>
            <%}%>
            <% if(challengesWon==null) {%> 
              <td style="text-align: center;"></td>
              <td style="color:gray;font-size:1.5vw;text-align: center;"><strong>No has ganado ningún premio todavía</strong></td>
              <td> </td>
              <td></td>
            <%}%>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">


    <div class="modal-content" style="background: rgba(20,20, 20, 0.6); backdrop-filter: blur(4px);text-align: center;border-radius: 0.5vw;">
      <div class="modal-header" style="border: none;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <img src="" id="modalImg" class="lbc-mobile-optimized-img" alt="">
      </div>
      
    </div>
  </div>
</div>

<%- include('partials/footer') %>