<%- include('partials/header') %>
<script type="text/javascript">
    $(document).ready(function() {
       $("#upload").click(function(){
           $("#uploadForm").submit();
       });
       $("#deleteButton").click(function(){
           alert("yes");
           $("#deletePoster").submit();
       })
    });
    


</script>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="help-block with-errors"></div>

        <div class="input-group mb-3" stryle="margin-top:20px;">
          <div class="custom-file">
            <form id='uploadForm' action='/posterConsole' method='POST' encType="multipart/form-data">
              <input type="file" name="screenshot" class="custom-file-input" id="inputGroupFile02" required />
              <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="upload" type="button" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid" style="background-color:transparent; text-align:center; font-family: 'Monoton', cursive;font-weight:normal;font-style:normal;">
    <div class="container">
      <p style="color:#ffa500; font-size:2rem; font-family: 'BIGMACCA';">POSTER CONSOLE</p>
    </div>
  </div>
  
  
  
  
  <h2 style="color:white; font-weight:bold; margin-left:250px;"><%= data.length %> POSTERS Available</h2>
  
  <div class="list-group" id="list-tab" role="tablist">
    <div>
      <div style="float:left;">
      <a href="#" data-toggle="modal" data-target="#basicExampleModal" id="addPoster" class="btn btn-primary" style="width:10vw;margin-left:250px;">ADD POSTER</a>
      </div>
      </div>
    <% data.map((datai,i)=>{ %>
    <div style="padding: 0px 250px 0px; margin-top:35px;float: left;">
      <div class="shadow_admin" style="background:#222; border-radius:10px; padding:15px;display: inline-block;">
        <img style="
            margin-right:20px;
            float:left;
            height:300px;
            width:460px;
            padding-bottom:10px;" src=<%=datai.image_url%>>
  
 <form id="deletePoster" action="/posterConsole" method="post">
    <input type="hidden" id="custId" name="deleteButton" value="true" />
    <input type="hidden" id="custId" name="delete" value="<%= datai.id %>" />

    <button  id="deleteButton" class="btn btn-danger" 
        style="background: #222; color:#FFFFFF;float:left;">
      DELETE POSTER
    </button>
  </form> 

      </div>
    </div>
    <% }); %>
  
  </div>
  <br />
  <!-- <progress id='progress' class="pure-material-progress-circular"/> -->
  <!-- <div class="modal fade show" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Publish Challenge</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div> -->
  <%- include('partials/footer') %>